{% extends "::base.html.twig" %}

{% block title %}AppBundle:JoueurController:afficherPlateau{% endblock %}

{% block body %}
<h1>Welcome to the JoueurController:afficherPlateau page</h1>
{% endblock %}
