{% extends "::base.html.twig" %}

{% block title %}AppBundle:JoueurController:distribuerCartes{% endblock %}

{% block body %}
<h1>Welcome to the JoueurController:distribuerCartes page</h1>
{% endblock %}
