{% extends "::base.html.twig" %}

{% block title %}AppBundle:JoueurController:nouvellePartie{% endblock %}

{% block body %}
<h1>Welcome to the JoueurController:nouvellePartie page</h1>
{% endblock %}
