{% extends "::base.html.twig" %}

{% block title %}AppBundle:JoueurController:revendiquerBorne{% endblock %}

{% block body %}
<h1>Welcome to the JoueurController:revendiquerBorne page</h1>
{% endblock %}
